.min-height-600{
  min-height: 600px;
}
.row .custom-shadow {
  box-shadow: #acacac 0 0 25px;
  transition: 1s;
}

.custom-shadow:hover {
  box-shadow: #acacac 0 0 4px;
  transition: 1s;
}
.ReactCrop{
  width: 100%;
}
.icons{
  cursor: pointer;
  transition: 1s!important;
}
.icons:hover{
  transform: scale(1.2);
}
.loading {
  display: flex;
  justify-content: center;
}
.span-style {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
}

.span-lable-style {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px
}

.vert-move {

  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.delay-1 {
  animation-delay: .25s;
}

.delay-2 {
  padding: 0 15px;
  animation-delay: .5s;
}

.delay-3 {
  padding: 0 30px;
  animation-delay: .75s;
}